<section class="music">
    <h2>IDEA 1</h2>
    <button>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21">
            <g id="Icon_ionic-md-add-circle-outline" data-name="Icon ionic-md-add-circle-outline"
               transform="translate(0.5 0.5)">
                <path id="Tracé_17" data-name="Tracé 17"
                      d="M21.273,16.935H16.935v4.339H14.815V16.935H10.477V14.815h4.339V10.477h2.119v4.339h4.339Z"
                      transform="translate(-5.875 -5.875)" stroke-width="1"/>
                <path id="Tracé_18" data-name="Tracé 18"
                      d="M13.375,5.394A7.977,7.977,0,1,1,7.731,7.731a7.948,7.948,0,0,1,5.644-2.337m0-2.019a10,10,0,1,0,10,10,10,10,0,0,0-10-10Z"
                      transform="translate(-3.375 -3.375)" stroke-width="1"/>
            </g>
        </svg>
        <p>Add a new track</p>
    </button>
</section>
