{% extends 'base.html.twig' %}

{% block title %}New Track{% endblock %}

{% block body %}
<section class="music">
    <h2 class="new_track_title">Add a new Track in {{ currentFolder }}</h2>

    {{ include('track/_form.html.twig') }}

    <a href="{{ path('open', {'id' : id}) }}">back to list</a>
</section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('tracks') }}
{% endblock %}
