<section class="files">

    {% for folder in folders %}
            <div class="idea_container {% if currentFolder.id == folder.id %}active{% endif %}">
                <a href="{{ path('open', {'id' : folder.id}) }}">
                <div class="idea">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 0 45.779 42">
                        <defs>
                            <filter id="Icon_material-library-music" x="0" y="0" filterUnits="userSpaceOnUse">
                                <feComposite in="SourceGraphic"/>
                            </filter>
                        </defs>
                        <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Icon_material-library-music)">
                            <path id="Icon_material-library-music-2" data-name="Icon material-library-music"
                                  d="M33.4,3H13.134A3.215,3.215,0,0,0,9.756,6V24a3.215,3.215,0,0,0,3.378,3H33.4a3.215,3.215,0,0,0,3.378-3V6A3.215,3.215,0,0,0,33.4,3Zm-3.378,7.5H24.956v8.25a4.009,4.009,0,0,1-4.222,3.75,4.009,4.009,0,0,1-4.222-3.75A4.009,4.009,0,0,1,20.734,15a4.478,4.478,0,0,1,2.533.765V7.5h6.756ZM6.378,9H3V30a3.215,3.215,0,0,0,3.378,3H30.023V30H6.378Z"/>
                        </g>
                    </svg>
                    <p>{{ folder.name }}</p>
                </div>
                </a>
            </div>
    {% endfor %}
</section>