<div class="audio-player">
    <button class="play">
        <svg class="pause_icon" xmlns="http://www.w3.org/2000/svg" width="25.262" height="29" viewBox="0 0 25.262 29">
            <g id="Groupe_97" data-name="Groupe 97" transform="translate(-203.595 -1074)">
                <rect id="Rectangle_25" data-name="Rectangle 25" width="9" height="29" rx="1"
                      transform="translate(203.595 1074)" fill="#29323c"/>
                <rect id="Rectangle_26" data-name="Rectangle 26" width="9" height="29" rx="1"
                      transform="translate(219.857 1074)" fill="#29323c"/>
            </g>
        </svg>
        <svg class="play_icon" xmlns="http://www.w3.org/2000/svg" width="24.498" height="28" viewBox="0 0 24.498 28">
            <path id="Icon_awesome-play" data-name="Icon awesome-play"
                  d="M23.208,11.741,3.959.361A2.61,2.61,0,0,0,0,2.62V25.374a2.623,2.623,0,0,0,3.959,2.259L23.208,16.258a2.622,2.622,0,0,0,0-4.517Z"
                  transform="translate(0 -0.002)" fill="#1d252d"/>
        </svg>
    </button>
    <div class="bar_container">
        <div class="time">
            <div class="current_time">0:00</div>
            <div class="duration">0:00</div>
        </div>
        <div class="seek-bar">
            <div class="fill"></div>
            <div class="handle"></div>
        </div>
    </div>
</div>