@import "vars";

body {
    margin: 0;
    background-color: $backgroundColor;
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 85px calc(100vh - 235px) 150px;
    grid-template-areas: "header header header" "files music ." "files . .";
    color: $secondaryColor;
    font-family: 'Lato', sans-serif;

    a {
        text-decoration: none;
    }

    header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        .gabbler {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 160px;
            height: 50px;
            font-family: 'Lilita One', cursive;
            color: $primaryColor;
            text-shadow: 3px 3px 4px #000000, -3px -3px 4px #676767;
            font-size: 30px;
            margin: 0 0 0 25px;
            border-radius: 40px;
            box-shadow: $light-shadow, $dark-shadow;
        }

        .profile {
            display: flex;
            height: 55px;
            width: 55px;
            border-radius: 50%;
            margin: 0 25px 0 0;
            box-shadow: $light-shadow, $dark-shadow;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
            }

            img {
                height: 45px;
                width: 45px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    .files {
        grid-area: files;
        margin-top: 10vh;

        .ideas {
            height: 30px;
            padding: 4px 15px 0 10px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: bolder;
            color: $primaryColor;
            box-shadow: $light-shadow, $dark-shadow;
            width: fit-content;
            border-radius: 0 40px 40px 0;

            &:hover {
                cursor: pointer;
            }

            svg {
                width: 30px;
                height: 27px;

                path {
                    fill: $primaryColor;
                    transform: translate(5 5);
                    box-shadow: $light-shadow, $dark-shadow;
                }
            }

            p {
                margin: 0;
                padding: 0 0 4px 5px;
            }

        }

        .active {
            border: solid 2px $primaryColor;
            border-left-color: $backgroundColor;
        }
    }

    .music {
        grid-area: music;
        display: flex;
        flex-direction: column;

        h2 {
            color: $primaryColor;
            font-weight: 400;
            font-size: 30px;
            margin: 0;
        }

        .add_track {
            height: 35px;
            width: fit-content;
            background-color: $backgroundColor;
            box-shadow: $light-shadow, $dark-shadow;
            border: solid 2px $primaryColor;
            border-radius: 40px 5px 5px 40px;
            padding: 0 15px 0 10px;
            margin-top: 5vh;
            display: flex;
            align-items: center;
            align-self: flex-end;

            &:hover {
                cursor: pointer;
                transition-duration: $short-transition;

                svg {
                    transform: scale(1.08);
                    transition-duration: $short-transition;
                }
            }

            &:active {
                svg {
                    transform: scale(1);
                    transition-duration: $short-transition;
                }
            }

            svg {
                width: 20px;
                height: 20px;

                path {
                    fill: $primaryColor;
                    stroke: $primaryColor;
                }
            }

            p {
                margin: 0 0 0 10px;
                color: $primaryColor;
                font-size: 16px;
                font-weight: 500;
            }
        }

        .tracks_container {
            margin-top: 30px;
            width: 100%;

            .line {
                width: 100%;
                height: 3px;
                border-radius: 1.5px;
                background-color: $secondaryColor;
                z-index: 3;
                box-shadow: $line-shadow;
            }

            .track_infos {
                display: flex;
                padding: 0 15px 0 10px;

                .time, .title, .owner {
                    margin: 0;
                }

                .time {
                    min-width: 40px;
                    width: 4vw;
                }

                .title {
                    min-width: 150px;
                    width: 15vw;
                }

                .owner {
                    min-width: 150px;
                }

                .play {
                    width: 25px;
                    margin-right: 15px;
                }
            }

            .infos {
                color: $primaryColor;
                opacity: 60%;
                align-items: flex-end;
                padding-bottom: 10px;
            }

            .tracks {
                justify-content: space-between;
                align-items: center;
                height: 42px;
                transition-duration: $short-transition;

                .time_title_owner {
                    display: flex;
                    align-items: center;

                    .play {
                        height: 25px;
                        opacity: 0;
                        fill: $secondaryColor;
                        box-shadow: $dark-shadow, $light-shadow;
                        border-radius: 50%;
                        transition-duration: $short-transition;

                        &:hover {
                            transform: scale(1.08);
                            fill: $primaryColor;
                            cursor: pointer;
                            transition-duration: $short-transition;
                        }

                        &:active {
                            transform: scale(1);
                        }
                    }
                }

                &:hover {

                    .time_title_owner {

                        .play {
                            opacity: 100;
                            transition-duration: $long-transition;
                        }
                    }

                    .dots {
                        opacity: 100;
                        transition-duration: $short-transition;
                    }
                }

                .dots {
                    width: 31px;
                    height: 7px;
                    opacity: 0;

                    circle {
                        fill: $secondaryColor;
                        transition-duration: $short-transition;
                        box-shadow: $light-shadow, $dark-shadow;
                    }

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.08);
                        transition-duration: $short-transition;

                        circle {
                            transition-duration: $short-transition;
                            fill: $primaryColor;
                        }
                    }

                    &:active {
                        transform: scale(1);
                    }
                }
            }
        }
    }

}
