@import "vars";

body {
    margin: 0;
    background-color: $backgroundColor;
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 85px calc(100vh - 235px) 150px;
    grid-template-areas: "header header header" "folders tracks ." "folders player .";
    color: $secondaryColor;
    font-family: 'Lato', sans-serif;

    a {
        text-decoration: none;
    }

    @import "header";

    @import "folders";

    @import "tracks";

    @import "player";
}
