.files {
    grid-area: folders;
    margin-top: 3vh;
    padding-top: 20px;
    margin-right: 50px;
    border-radius: 0 30px 0 0;
    background-color: #0e1318;
    box-shadow: 3px 3px 5px 0 #0e1318;
    width: fit-content;
    width: -moz-fit-content;

    .folders_container {
        height: calc(100% - 53px);
    }

    h2 {
        font-weight: 300;
        font-size: 1.2em;
        margin: 0 0 30px 10px;
    }

    .idea_container {
        height: 45px;
        width: auto;
        padding: 4px 3vw 0 10px;

        a {
            text-decoration: none;
            font-weight: 300;
        }

        .idea {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 18px;
            color: $secondaryColor;
        }

        &:hover {
            cursor: pointer;
        }

        svg {
            width: 30px;
            height: 27px;

            path {
                fill: $secondaryColor;
                transform: translate(5 5);
                box-shadow: $light-shadow, $dark-shadow;
            }
        }

        p {
            margin: 0;
            padding: 0 0 4px 5px;
        }
    }

    .active {
        border: solid 1px $primaryColor;
        border-left-color: $backgroundColor;

        svg {
            path {
                fill: $primaryColor;
            }
        }

        a {
            width: 100%;
        }

        p {
            color: $primaryColor;
        }
    }

    .add_idea {
        border-top: 1px solid $secondaryColor;
        padding: 4px 3vw 0 10px;
        height: 50px;
    }
}
