form {
    grid-area: tracks;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name-form, .owner-form {
        position: relative;
        overflow: hidden;

        label {
            position:absolute;
            bottom:0;
            left: 0;
            height: 100%;
            width: 100%;
            pointer-events: none;
            color: $secondaryColor;
            border-bottom: 2px solid $secondaryColor;
            font-size: 1.1em;
            margin: 0;
            padding: 0;

            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                bottom: -2px;
                border-bottom: 2px solid $primaryColor;
                transform: translateX(-100%);
                transition: transform 0.4s ease;
            }

            .content-name {
                position: absolute;
                bottom: 5px;
                left: 0;
                transition: all 0.3s ease;
            }
        }

        input {
            width: 100%;
            padding: 20px 0 10px 0;
            border: none;
            background-color: $backgroundColor;
            color: $secondaryColor;
            outline: none;
            margin-top: 40px;
            font-size: 1em;

            &:focus + .label-name .content-name,
            &:valid + .label-name .content-name,
            &:-webkit-autofill + .label-name .content-name,
            &:active + .label-name .content-name,
            &:not(:placeholder-shown) + .label-name .content-name{
                transform: translateY(-110%);
                font-size: 0.8em;
                color: $primaryColor;
                background-color: $backgroundColor;
            }



            &:focus + .label-name::after,&:valid + .label-name:after,&:not(:placeholder-shown) + .label-name:after {
                transform: translateX(0%);
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-text-fill-color: $secondaryColor;
                -webkit-box-shadow: 0 0 0 1000px $backgroundColor inset;
                transition: background-color 5000s ease-in-out 0s;
            }

            .form-control:focus {
                 background-color: $backgroundColor;
            }
        }
    }

    .submit-button {
        @include button;
        margin-top: 30px;
        align-self: flex-end;
        font-size: 0.9em;
        border-color:$secondaryColor;
        color: $secondaryColor;

        &:hover {
            transition-duration: $short-transition;
            border-color:$primaryColor;
            color: $primaryColor;
            transform: scale(1.04);
        }

        &:active {
            transition-duration: $short-transition;
            transform: scale(1);
        }
    }

    .form-control-file{
        outline-color: $primaryColor;
        &:valid {
            color: $primaryColor;
        }
    }

    .form_file {
        position: relative;
        font-size: 14px;
        margin-top: 20px;

        .cache_misère {
            width: 100%;
            height: 35px;
            position:absolute;
            background-color: $backgroundColor;
            bottom: 0;
            left: 0;
            display: flex;

            .cache_button {
                height: 100%;
                width: 130px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-radius: 6px;
                border: solid 2px $secondaryColor;
                margin-right: 15px;
                transition-duration: $short-transition;

                &:hover {
                    transition-duration: $short-transition;
                    border-color:$primaryColor;
                    color: $primaryColor;
                    transform: scale(1.03);
                }

                &:active {
                    transition-duration: $short-transition;
                    transform: scale(1);
                }
            }

            .cache_text {
                height: 100%;
                display: flex;
                align-items: center;
            }

            .active_file_button {
                color: $primaryColor;
                border-color: $primaryColor;
            }
        }
    }


}