header {
    grid-area: header;
    text-decoration: none;

    .gabbler {
        width: 160px;
        height: 50px;
        font-family: 'Lilita One', cursive;
        color: $primaryColor;
        text-shadow: 3px 3px 4px #000000, -3px -3px 4px #676767;
        font-size: 30px;
        border-radius: 40px;
        box-shadow: $light-shadow, $dark-shadow;
    }

    .login_home {
        @include button;
        text-decoration: none;

        &:hover {
            transition-duration: $short-transition;
            border-color: $secondaryColor;
            color: $secondaryColor;
            transform: scale(1.04);
        }

        &:active {
            transition-duration: $short-transition;
            transform: scale(1);
        }
    }

    .profile {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        margin: 0 25px 0 0;
        box-shadow: $light-shadow, $dark-shadow;

        &:hover {
            cursor: pointer;
        }

        button {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            outline: none;
            cursor: pointer;
            border: none;
            padding: 0;

            img {
                height: inherit;
                width: inherit;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    .profilePopUp {
        right: 25px;
        top:77px;
        display: none;

        .arrow_profile {
            width: 12px;
            height: 12px;
            margin: 0 20px -3px 0;

            path {
                fill: $primaryColor;
            }
        }

        .profile_content {
            width:170px;
            border-radius: 7px;
            border: solid 2px $primaryColor;
            background-color: $backgroundColor;

            .user_name {
                margin: 10px 0 5px 0;
                font-size: 1.2em;
                font-weight: bolder;
                color: $secondaryColor;
            }

            .user_email {
                font-size: 0.8em;
                opacity: 50%;
                -moz-opacity: 50%;
            }

            .options {
                width: 100%;
                height: 35px;
                padding-left: 10px;
                font-size: 1em;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $secondaryColor;
                border-top: solid 1.5px $primaryColor;

                &:hover {
                    background-color: $primaryColor;
                    color: $backgroundColor;
                }
            }
        }
    }
}
