.audio-player {
    grid-area: player;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5vh;
    justify-content: space-between;

    button.play, button.pause {
        display: flex;
        justify-content: center;
        width: 60px;
        height: 60px;
        border: 0;
        background-color: $primaryColor;
        color: white;
        font-size: 30px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: $line-shadow;

        &:active {
            transform: scale(0.96);
        }
    }

    .play_icon {
        margin-left: 4px;
    }

    button.play {
        .play_icon {
            display: block;
        }

        .pause_icon {
            display: none;
        }
    }

    button.pause {
        .play_icon {
            display: none;
        }

        .pause_icon {
            display: block;
        }
    }

    .bar_container {
        margin-left: 20px;
        width: 85%;
    }

    .time {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .current_time, .duration {
            color: $primaryColor;
            font-size: 0.9em;
            font-weight: lighter;
        }
    }

    .seek-bar {
        width: 95%;
        height: 7px;
        background-color: white;
        display: flex;
        align-items: center;
        border-radius: 100000px;
        cursor: pointer;
        box-shadow: $line-shadow;
        margin: 0 auto 25px auto;

        .fill {
            height: 7px;
            background-color: $primaryColor;
            border-radius: 4px;
        }

        .handle {
            width: 7px;
            height: 7px;
            background-color: $primaryColor;
            border-radius: 50%;
            margin-left: -5px;
            transform: scale(2);
            transition: all 0.1s;

            &:hover {
                background-color: lighten($primaryColor, 10%);
                transform: scale(2.4);
            }

            &:active {
                transform: scale(2);
            }
        }
    }
}
