.music {
    grid-area: tracks;
    box-sizing: border-box;

    h2 {
        color: $primaryColor;
        font-weight: 400;
        font-size: 30px;
    }

    .add_track {
        height: 35px;
        width: fit-content;
        width: -moz-fit-content;
        background-color: $backgroundColor;
        box-shadow: $light-shadow, $dark-shadow;
        border: solid 2px $primaryColor;
        border-radius: 40px 5px 5px 40px;
        padding: 0 15px 0 10px;
        margin: 3vh 7px 0 0;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            transition-duration: $short-transition;

            svg {
                transform: scale(1.08);
                transition-duration: $short-transition;
            }
        }

        &:active {
            svg {
                transform: scale(1);
                transition-duration: $short-transition;
            }
        }

        svg {
            width: 20px;
            height: 20px;

            path {
                fill: $primaryColor;
                stroke: $primaryColor;
            }
        }

        p {
            margin: 0 0 0 10px;
            color: $primaryColor;
            font-size: 16px;
            font-weight: 500;
        }
    }

    .tracks_container {
        margin-top: 30px;

        .container_track {
            max-height: 41vh;
            overflow: auto;

            &::-webkit-scrollbar-track {
                background-color: $backgroundColor;
                border-radius: 4px;
            }

            &::-webkit-scrollbar {
                width: 6px;
                background-color: $backgroundColor;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $backgroundColor;
                border-radius: 4px;
            }

            &:hover {
                transition: ease-in;

                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    background-color: $secondaryColor;
                }

                &::-webkit-scrollbar {
                    background-color: $secondaryColor;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $primaryColor;
                }

                .headline {
                    width: 100%;
                }
            }
        }

        .line {
            border-top: 2px solid #b9b9b9;
            border-radius: 1.5px;
            z-index: 3;
        }

        .headline {
            width: calc(100% - 5px);
            border-top: 3px solid $secondaryColor;
            background-color: $secondaryColor;
            box-shadow: $line-shadow;
        }

        .track_infos {
            display: flex;
            padding: 0 15px 0 10px;
            color: whitesmoke;

            .time, .title, .owner {
                margin: 0;
            }

            .time {
                min-width: 40px;
                width: 4vw;
            }

            .title {
                min-width: 150px;
                width: 15vw;
            }

            .owner {
                min-width: 150px;
            }

            .play_song, .pause_song {
                width: 25px;
                margin-right: 15px;
            }

        }

        .infos {
            color: $primaryColor;
            opacity: 60%;
            align-items: flex-end;
            padding-bottom: 10px;
        }

        .tracks {
            justify-content: space-between;
            align-items: center;
            height: 42px;
            transition-duration: $short-transition;


            .time_title_owner {
                display: flex;
                align-items: center;

                .play_song, .pause_song {
                    outline: none;
                    height: 25px;
                    width: 25px;
                    background-color: $backgroundColor;
                    border: none;
                    border-radius: 50%;
                    padding: 0;

                    .played {
                        height: 25px;
                        opacity: 50%;
                        border-radius: 50%;
                        fill: $secondaryColor;
                        box-shadow: $dark-shadow, $light-shadow;
                        transition-duration: $short-transition;

                        &:hover {
                            transform: scale(1.08);
                            opacity: 100%;
                            fill: $primaryColor;
                            cursor: pointer;
                            transition-duration: $short-transition;
                        }

                        &:active {
                            transform: scale(1);
                        }
                    }

                    .paused {
                        fill: $secondaryColor;
                        border-radius: 50%;
                        box-shadow: $dark-shadow, $light-shadow;
                        transition-duration: $short-transition;

                        &:hover {
                            transform: scale(1.08);
                            cursor: pointer;
                            fill: $primaryColor;
                            transition-duration: $short-transition;
                        }

                        &:active {
                            transform: scale(1);
                        }
                    }
                }

                .play_song {
                    .played {
                        display: block;
                    }

                    .paused {
                        display: none;
                    }
                }

                .pause_song {
                    .played {
                        display: none;
                    }

                    .paused {
                        display: block;
                    }
                }

                .song {
                    .played {
                        opacity: 100%;
                    }
                }
            }

            .dots {
                width: 25px;
                height: 7px;
                position: relative;

                circle {
                    fill: $secondaryColor;
                    transition-duration: $short-transition;
                    box-shadow: $light-shadow, $dark-shadow;
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(1.08);
                    transition-duration: $short-transition;

                    circle {
                        transition-duration: $short-transition;
                        fill: $primaryColor;
                    }
                }

                &:active {
                    transform: scale(1);
                }
            }

            @import "options_popup";
        }
    }

    .new_track_title {
        color: $secondaryColor;
    }
}
