$primaryColor:#E0A526;
$secondaryColor:#EDE6DE;
$backgroundColor:#1D252D;
$light-shadow: -5px -5px 6px 0px #5D5D5D50;
$dark-shadow: 6px 6px 6px 0px #161C22;
$line-shadow:3px 3px 5px 0 #0e1318, -3px -3px 5px 0 rgba(249, 249, 249, 0.45);
$short-transition:0.13s;
$long-transition:0.25s;
