<header>
    <a href="{{ path('home') }}"><div class="gabbler">GABBLER</div></a>
    <a href="{{ (app.user == null) ? path('app_login') : path('profile')}}">
    <div class="profile">
        <img src="https://cdn.pixabay.com/photo/2016/09/10/11/11/musician-1658887_1280.jpg">
    </div>
    </a>
</header>
